#autotrading
python-dotenv
openai
pyupbit
ta
requests
selenium
webdriver-manager
Pillow
youtube-transcript-api
streamlit
plotly
schedule


#server
fastapi
uvicorn[standard]
pydantic>=2
SQLAlchemy>=2.0
